<p id="notice"><%= notice %></p>

<h1>Articles (Total: <%= @articles.count %>) - (Read: <%= @total_read_count %>)</h1>
<h2>Per Page: <%= @per_page %></h2>

<table>
  <thead>
    <tr>
      <th colspan="8"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.name %></td>
        <td><%= article.description %></td>
        <td><%= article.read %></td>
        <td><%= article.likes.count %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td>
          <%= link_to 'Mark as Liked', mark_as_liked_article_path(article, user_id: User.first.id), method: :post %>
        </td>
        <td>
          <% if article.read %>
            Read
          <% else %>
            <%= link_to 'Mark as Read', mark_as_read_article_path(article), method: :post, data: { confirm: 'Are you sure want to mark it as Read?' } %>
          <% end %>
          </td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
